<p>We just made an iPhone app, but it's not in the app store yet.</p>
<p>The app gives you the opportunity to film what you see through your camera while the video clip of Soldier is running. It gives a special result with superimposed image layers.</p>
<p>What did we do? We filmed some images about you with our iPhone.</p>