<p id="notice"><%= notice %></p>

<p>
  An artist would be nothing without creativity. So let's start with this personalised video, the result of musical, cinematographic and web creativity.
</p>

<p>
  
	<%= video_tag @contact.video_url, :size => "480x360", :controls => true, :autoplay => true %>
	
  
</p>


<p>Curious <%= link_to "how we made this movie?" %> </p>

<p>And now something more about this band...</p>

<%= render "layouts/info" %>
