<h1>Amatorski</h1>

<p>
	January 12th, 20h<br/>
	Schouwburg
</p>
<p>
	official Belgian EBU act (Studio Brussel)
</p>
<p>
	A Belgian act with a very international, more Scandinavian-like sound
</p>
<p>
	references: Sigur Ros, Portishead, Björk, mùm, Radiohead
</p>
<p>
	<%= link_to "Go to Amatorski website", "http://amatorski.be" %>
</p>
	<h1>some facts</h1>
	<h2>releases</h2>

		2010 <em>Same Stars We Shared (ep)</em><br/><br/>
		
		nominated for 3 Music Industry Awards:
		<ul>
			<li>best song (Come Home)</li>
			<li>best breakthrough</li>
			<li>best artwork</li>
		</ul>
		<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2868544316/size=venti/bgcol=000000/linkcol=78AAB4/" allowtransparency="true" frameborder="0"><a href="http://amatorski.bandcamp.com/album/same-stars-we-shared">Same Stars We Shared by Amatorski</a></iframe>
		<br/><br/>

		2011 <em>tbc</em><br/><br/>
		
		nominated for 3 Music Industry Awards:
		<ul>
			<li>best album</li>
			<li>best alternative band</li>
			<li>best artwork</li>
		</ul>
		<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=4225466187/size=venti/bgcol=000000/linkcol=78AAB4/" allowtransparency="true" frameborder="0"><a href="http://amatorski.bandcamp.com/album/tbc">tbc by Amatorski</a></iframe>
		
		
		
	<br/><br/><br/>
	<h2>live</h2>

		Amatorski Film tour 2011-2012 (November-January)
			<ul>
				<li>30 venues</li>
				<li>7300 seats (and still counting...)</li>
			</ul>

		played support slots for
			<ul>
				<li>Gotye (Gebaüde 9, Köln, DE)</li>
				<li>Cocorosie (OLT Rivierenhof, Antwerp, BE)</li>
				<li>Junip (Le Grand Mix, Tourcoing, FR)</li>
				<li>Olafur Arnalds (Arenberg, Antwerp, BE)</li>
				<li>Oi Va Voi (Ancienne Belgique, Brussels, BE)</li>
			</ul>
		



	<h2>press quotes</h2>

	"Crystallised beauty with maximum impact"<br/>
	"The recapture of long lost beauty by means of modern technology, that is the very essence of Amatorski. Progressive yet nostalgic."<br/>
	"Twentysomethings with genius at their fingertips. Though initiallly a lofi solo project, the previous year saw Amatorski become a full-fledged band. With their own identity, international allure and a solid live presence."<br/>
	De Morgen<br/><br/>
	"Perfection on all levels"<br/>
	Oor
		


	<br/><br/>
	<h2>online</h2>
		
		Facebook 10,636 likes<br/>
		Twitter 2,247 followers<br/>
		Tunecore sales:
				<ul>
					<li>27,814 songs</li>
					<li>1,782 releases</li>
					<li>53,240 streams</li>
				</ul>
