<!DOCTYPE html>
<html>
<head>
  <title>Eurosonic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="clearfix">
	</div>
	
	<div id="content-wrap">
		<div class="container">
			<div id="content" class="clearfix">
				<%= yield %>

				<h1>Amatorski</h1>

				<p>
					January 12th, 20h<br/>
					Schouwburg/Grand Theatre
				</p>
				<p>
					official Belgian EBU act (Studio Brussel)
				</p>
				<p>
					A Belgian act with a very international, more Scandinavian-like sound
				</p>
				<p>
					references: Sigur Ros, Portishead, Björk, mùm, Radiohead
				</p>
					<h1>some facts</h1>
					<h2>releases</h2>

						2010 <em>Same Stars We Shared (ep)</em><br/><br/>
						
						nominated for 3 Music Industry Awards:
						<ul>
							<li>best song (Come Home) - strong competition by Stromae (Alors on danse)</li>
							<li>best breakthrough -	strong competition by Stromae</li>
							<li>best artwork</li>
						</ul>
						<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2868544316/size=venti/bgcol=000000/linkcol=78AAB4/" allowtransparency="true" frameborder="0"><a href="http://amatorski.bandcamp.com/album/same-stars-we-shared">Same Stars We Shared by Amatorski</a></iframe>
						<br/><br/>

						2011 <em>tbc</em><br/><br/>
						
						nominated for 3 Music Industry Awards:
						<ul>
							<li>best album - strong competition by	Selah Sue</li>
							<li>best alternative band -strong competition by dEUS</li>
							<li>best artwork</li>
						</ul>
						<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=4225466187/size=venti/bgcol=000000/linkcol=78AAB4/" allowtransparency="true" frameborder="0"><a href="http://amatorski.bandcamp.com/album/tbc">tbc by Amatorski</a></iframe>
						
						
						
					<br/><br/><br/>
					<h2>live</h2>

						Amatorski Film tour 2011-2012 (November-January)
							<ul>
								<li>30 venues</li>
								<li>7300 seats (and still counting...)</li>
							</ul>

						played support slots for
							<ul>
								<li>Gotye (Gebaüde 9, Köln, DE)</li>
								<li>Cocorosie (OLT Rivierenhof, Antwerp, BE)</li>
								<li>Junip (Le Grand Mix, Tourcoing, FR)</li>
								<li>Olafur Arnalds (Arenberg, Antwerp, BE)</li>
								<li>Oi Va Voi (Ancienne Belgique, Brussels, BE)</li>
							</ul>



					<h2>press quotes</h2>

					"Tranquil beauty, substantial impact"<br/>
					"Revalue lost beauty with modern technology, that's Amatorski pur sang. Both progressive and melancholic"<br/>
					"Twentysomethings with genius under their skin. Originally a lofi solo project, Amatorski definitively became a band this year. With a unique identity, an international appeal and a firm stage presence."<br/><br/>
					De Morgen
						


					<br/><br/>
					<h2>online</h2>
						
						Facebook 10,636 likes<br/>
						Twitter 2,247 followers<br/>
						Tunecore sales:
								<ul>
									<li>27,814 songs</li>
									<li>1,782 releases</li>
									<li>53,240 streams</li>
								</ul>

			</div>
		</div>
</div>
<div id="footer">
</div>
</body>
</html>
